<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Избранное</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />

    <link rel="icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/favorite.css" />
    <link rel="stylesheet" href="/css/fix.css" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>
<body>

<%- include('header.ejs') %>

<div class="main-content">
<main>
    <% if (recipes.length === 0) { %>
        <p class="favorite-none-text">К сожалению, вы ещё не добавили любимые рецепты.</p>
    <% } else { %>
    <section class="favorites">
            <% recipes.forEach(recipe => { %>
                <a href="/recipe/<%= recipe.recipe_id %>?back=favorite" class="recipe-link">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="/image/recipe/<%= recipe.path_photo %>"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name"><%= recipe.name %></div>
                    </div>
                </a>
            <% }) %>
    </section>
    <% } %>
    <section class="recommendation">
        <p class="recommendation-text">Возможно, вам понравится</p>
        <div class="carousel-container">
            <div class="carousel">
                <% if (recommended.length != 0) { %>
                    <% for (const recipe of recommended) { %>
                        <a href="/recipe/<%= recipe.id %>?back=favorite">
                            <div class="recipe">
                                <img
                                        class="recipe-img"
                                        src="image/recipe/<%= recipe.path_photo %>"
                                        alt="Фото рецепта"
                                />
                                <div class="recipe-name"><%= recipe.name %></div>
                            </div>
                        </a>
                    <% } %>
                <% } else { %>
                <a href="/recipe/10?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/10.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">Домашние пельмени с индейкой</div>
                    </div>
                </a>
                <a href="/recipe/11?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/11.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">Ленивая самса с мясом и сыром</div>
                    </div>
                </a>
                <a href="/recipe/12?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/12.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">Вишнёвый десерт</div>
                    </div>
                </a>
                <a href="/recipe/13?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/13.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">Запеченный картофель</div>
                    </div>
                </a>
                <a href="/recipe/14?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/14.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">​​Фаршированные баклажаны</div>
                    </div>
                </a>
                <a href="/recipe/15?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/15.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">
                            Жареные бананы в карамельном соусе
                        </div>
                    </div>
                </a>
                <a href="/recipe/16?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/16.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">Салат из свеклы с горошком</div>
                    </div>
                </a>
                <a href="/recipe/17?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/17.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">Лаваш с курицей и овощами</div>
                    </div>
                </a>
                <a href="/recipe/18?back=favorite">
                    <div class="recipe">
                        <img
                                class="recipe-img"
                                src="image/recipe/18.jpg"
                                alt="Фото рецепта"
                        />
                        <div class="recipe-name">Творожно-сметанная запеканка</div>
                    </div>
                </a>
                <% } %>
            </div>
            <img
                    class="prev-button"
                    src="image/favorite/arrow-left.png"
                    alt="Назад"
            />
            <img
                    class="next-button"
                    src="image/favorite/arrow-right.png"
                    alt="Вперед"
            />
        </div>
    </section>
</div>
</main>
<%- include('footer.ejs') %>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="/js/favorite/slider.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
